<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Aquarium</h1>
  <div class="col-6 offset-3">
    <form action="/aquariums" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="aquarium[title]" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="aquarium[location]" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <!-- <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" id="image" name="aquarium[image]" required />
        <div class="valid-feedback">Looks good!</div>
      </div> -->
      <div class="mb-3">
        <label class="form-label" for="price">Aquarium Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="aquarium[price]" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="aquarium[description]" required></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <div class="form-file custom-file">
          <input type="file" class="form-file-input" id="image" name="image" multiple onchange="displaySelectedFiles(this)" />
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label">Choose image(s)...</span>
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Aquarium</button>
      </div>
    </form>
    <a href="/aquariums">All Aquariums</a>
  </div>
</div>
